*{
    padding: auto;
    margin: auto;
} 



.parentone{
    background-color: rgb(255, 255, 255);
   height: 90px;
   width: 100%;
    display: flex; 
    flex-direction:row;

    
    
    
}


.about{
    height: 81px;
    width: 25%;
    background-color: rgb(255, 255, 255);
    
   



}


.about1{
    height: 81px;
    width:32%   ;
    background-color: rgb(255, 255, 255);
}
.about2{
    height: 81px;
    width: 31%;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.about3{
    height: 81px;
    width:12%   ;
    background-color: rgb(255, 255, 255);
}



.parent2{


    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    display: flex;
}

.photoline1{
    height: 125px; width: 100%; background-color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoline2{
    height: 125px; width: 100%; background-color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: center;
}


.photo2{
    display: flex;
    height: 200px;
    width: 100%;
    
    background-color: rgb(255, 255, 255);

}
.photo2line1{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
   

}

.scbutton{
    height: 150px;
    width: 100%;
background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.butonn{
    background-color:#ff8000;height: 70px; width: 370px; border-radius: 10px; 
    outline-color: black
;
        
    border-color: black;        
    display: flex;
    align-items: center;
    justify-content: center;
}
  .parent3{

    height: 660px;
    width: 100%;
    background-color: #56c9e3;
  }

  .parent3_1{

    height: 660px;
    width: 100%;
    background-color:  #56c9e3;
    display: flex;

  }
  
  .parent3_1_1{

    height: 660px;
    width: 50%;
    background-color: rgb(37, 70, 200);
    display: flex;


    
  }


  .parent3_1_1_1{

    height: 660px;
    width: 12%;
    background-color: #56c9e3;
    display: flex;


    
  }

  .parent3_1_1_2{

    height: 660px;
    width: 88%;
    background-color: #56c9e3;
    


    
  }

  .parent3_1_2{

    height: 660px;
    width: 5%;
    background-color:  #56c9e3;
    

  }

  .parent3_1_3{

    height: 660px;
    width: 40%;
    background-color: #56c9e3;
  }
  


  .scbutton2{
    height: 150px;
    width: 100%;
background-color: #56c9e3;
    display: flex;
   
    
    

}

  .butonn2{
    background-color:#ff8000;height: 70px; width: 320px; border-radius: 10px; 
    outline-color: black
;
        
    border-color: black;        
    display: flex;
    align-items: start;
    justify-content:start;
}

.Photoman{
 background-image: url(vido-bg.png);
 height: 650px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}


.parent4{
text-align: center;
padding-left: 70px;
padding-right: 70px;
}

.parent5{
 height: 800px;
 background-color: pink;
 width: 100;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-image: url(desert.png);
 
}

.parent5_1{
    
   font-size: 80px;
   color: white;
   font-weight: bold;
  
   }


  .parent5_2{
    
    font-size:30px;
    color: white;
    font-weight: 500;
   
    }

    .parent5_3{
        height: 500px;
        width: 100%;
        
        display: flex;
    }

    .parent5_3_1{
        height: 600px;
            width: 410px;
        
    }


    .parent5_3_1_1{
        height: 200px;
            width: 200px;
            border-radius: 10px;
        background-image: url(round-1.png);
        background-repeat: no-repeat;
    }
    .parent5_3_1_2{
        height: 30px;
            width: 205px;
            font-size: 20px;
            text-align: center;
            font-weight: 100;
            
            
      
    }

    .scbutton5_3_1_3{
        height: 150px;
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }
    
    .butonn5_3_1_3{
        height: 60px; 
        width: 150px; 
        border-radius: 6px; 
        
        
        border:  1px solid rgb(255, 255, 255) !important;
        border-color: white;
        
        padding: 1px;
        
        
        
    
            
        border-color: black;        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    





    .parent5_3_2{
        height: 600px;
            width: 410px;
        
    }

    .parent5_3_2_1{
        height: 200px;
        width: 200px;
        border-radius: 10px;
    background-image: url(round-2.png);
    background-repeat: no-repeat;
    }
    .parent5_3_2_2{
        height: 30px;
        width: 205px;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
    }
    .scbutton5_3_2_3{
        height: 150px;
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }
    
    .butonn5_3_2_3{
        height: 60px; 
        width: 150px; 
        border-radius: 6px; 
        
        background-color: #ff8000;
        border:  1px solid rgb(255, 255, 255) !important;
        border-color: white;
        
        padding: 1px;
        
        
        
    
            
        border-color: black;        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .parent5_3_3{
        height: 600px;
            width: 410px;
        
    }

    .parent5_3_3_1{
        height: 200px;
        width: 200px;
        border-radius: 10px;
    background-image: url(round-3.png);
    background-repeat: no-repeat;
    }
    .parent5_3_3_2{
        height: 30px;
        width: 205px;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
    }
    .scbutton5_3_3_3{
        height: 150px;
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }
    
    .butonn5_3_3_3{
        height: 60px; 
        width: 150px; 
        border-radius: 6px; 
        
        
        border:  1px solid rgb(255, 255, 255) !important;
        border-color: white;
        
        padding: 1px;
        
        
        
    
            
        border-color: black;        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* last box code here   */

    .parent6{
    
        height:600px;
        width: 100%;
        background-color: black;
        display: flex;
    }

    .parent6_1{
        margin-left: 150px;
        height: 400px;
        width: 450px;
        
    }


    .heading6_1{
        padding-left: 5px;
    font-size: 21px;
    color:#ff8000 ;
    }

    .para6_1{
    padding-left: 5px;
    color: white;
    }
    .parent6_2{
  margin-left: 110px;
        height: 400px;
        width: 150px;
        
    }

    .heading6_2{
        padding-left: 5px;
        font-size: 21px;
        color:#ff8000 ;
        }


        .para6_2{
            padding-left: 5px;
            color: white;
            line-height: 30px;
            }

    .parent6_3{
        margin-left: 300px;
        height: 400px;
        width: 258px;
       
        margin-right: 150px;
    }

    .heading6_3{
        padding-left: 5px;
        font-size: 21px;
        color:#ff8000 ;
        }

        .para6_3{
            padding-left: 5px;
            color: white;
            line-height: 30px;
            }

    
    
    
   